# Entornos virtuales y cache
/venv
/__pycache__
__pycache__/
*.py[cod]

# Base de datos
*.sqlite3
*.db
Backend/app/db/radio.db

# Dependencias Node
node_modules/
Frontend/node_modules/

# Archivos de datos y logs
data/
logs/
.DS_Store
